/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
	background-image: linear-gradient(90deg, #fff 0%, #fff 100%);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

::selection{
    color: #fff;
    background: #007bff;
	
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container, .info_box, .quiz_box, .result_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    position: relative;
    padding: 20px;
}
.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(100, 100, 100);
}
.landing-page {
    height: 700px;
}

.landing-page>img {
    width: 90px;
}

.landing-page>h1 {
    font-size: 60px;
}

.line {
    width: 200px;
    margin-top: 15px;
    border: 0.5px solid rgb(255 255 255);
	
}

.landing-page>p {
    font-size: 23px;
    margin: 120px 10px 40px 10px;
}
.start_btn button {
    padding: 5px;
    color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    cursor: pointer;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.next_btn {
	padding: 5px;
    color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    cursor: pointer;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.info_box, 
.quiz_box,
.result_box{
	
	justify-content: center;
	align-items: center;
    position: absolute;
	flex-direction: column;
	padding: 0px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.info_box {
    width: 450px;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info-title{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    font-weight: 600;
	color: rgb(255, 255, 255);
	
}
.line_info-title{
	width: 400px;
    margin-top: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 35px 0;
    font-size: 15px;
}

.info_box .info-list .info {
    font-weight: 500;
    color: #fff; /* text color */
}
.info_box .info-list .info span{
    font-weight: 500;
    color: #ffeb3b; /* text color */
}

.info_box .buttons{
	height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 2px solid lightgrey;
}

.info_box .buttons button{
    padding: 5px;
    color: rgb(255, 255, 255);
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    cursor: pointer;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.quiz_box{
    width: 450px;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 0;
    height: 70px;
    padding: 0 0px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.quiz_box header .title{
    font-size: 16px;
    font-weight: 700;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section{
    padding: 25px 30px 20px 30px;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
	color: rgb(255, 255, 255);
	
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #000000;
    background: #80ef9b;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #000000;
    background: #f78690;
    border: 1px solid #c3e6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #fff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 22px;
    font-weight: 800;
	color:#fff; 
}

.result_box .score_text span{
    display: flex;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
	color:#fff;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
	border-top: 2px solid lightgrey;
	height: 80px;
    align-items: center;
    justify-content: flex-end;
	
}

.result_box .buttons button{
    padding: 5px;
    color: rgb(255, 255, 255);
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    cursor: pointer;
    margin: 10px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}